@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=JetBrains+Mono&family=Quicksand&display=swap');

body {
    margin: 0;
    font-family: 'Jetbrains Mono'
}

::-webkit-scrollbar {
    display: none;
}

.background {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.clickable {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
}

.headerButton {
    font-family: 'Jetbrains Mono';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 2rem;
    border: none;
    background-color: #4c576b;
    color: white;
    height: 2.8rem;
    width: 7rem;
    transition-duration: 300ms;
}

.headerButton:hover {
    border-radius: 1rem;
    background-color: #3a4353;
}

.p1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
    height: 30rem;
    width: auto;
}

.logo {
    width: 100%;
    height: 100%;
}

.textContainer p {
    font-size: 1.5rem;
    color: white;
}

.typed {
    color: rgb(207, 28, 223);
}

.p2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 2350px;
}

.c1 {
    font-family: 'Quicksand';
    background-color: #212837;
    color: white;
    text-wrap: pretty;
    border-radius: 0.6rem;
    padding: 1rem;
    width: 100%;
    min-height: 15rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c1 h1 {
    text-align: center;
}

.c2 {
    margin: 1rem 0 1rem 0;
    font-family: 'Quicksand';
    background-color: #212837;
    color: white;
    text-wrap: pretty;
    border-radius: 0.6rem;
    padding: 1rem;
    width: 100%;
    min-height: 18rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading {
    height: 8rem;
    width: auto;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-card {
    margin-top: 0;
    height: 10rem;
    width: 30vw;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212837;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}

.socials-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #3c4352;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px 0px #080b13;
    transition-duration: 300ms;
}

.socials-circle:hover {
    box-shadow: 0 0 3px 0px #080b13;
    scale: 1.1;
}

.socials-circle img {
    height: 3rem;
    width: 3rem;
}

.school {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #161c28;
    border-radius: 0.6rem;
    color: white;
    width: 90%;
    height: 80%;
    transition-duration: 200ms;
}

.schoolWrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.school:hover {
    background-color: #0b0e14;
}

.school img {
    height: 6rem;
    width: 6rem;
    margin: 1rem;
}

.school p {
    margin: 0.5rem;
    font-size: 0.9rem
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.contact .text {
    font-size: 0.9rem;
    color: white;
    margin: 1.5rem;
    font-family: 'Quicksand';
}

.x img {
    height: 2.3rem;
    width: 2.3rem;
}

.articleContainer-apage {
    min-height: 95vh;
    width: 97vw;
    max-width: 2440px;
    height: 100%;
    margin: 1rem;
    background-color: #212837;
    border-radius: 0.6rem;
}

.articleHeading-apage {
    color: white;
    text-align: center;
    margin: 1rem;
}

.artTitle {
    text-align: center;
    color: white;
}

.articleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.articles-apage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.artImage {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.art:hover {
    background-color: #090a0b;
}

.art {
    transition-duration: 300ms;
    margin: 1rem;
    border-radius: 1rem;
    width: 420px;
    height: 240px;
    background-color: #323b4d;
}

.articleContainer-bpage {
    min-height: 95vh;
    width: 94vw;
    max-width: 2440px;
    height: 100%;
    margin: 1rem;
    background-color: #212837;
    border-radius: 0.6rem;
}

.articleCover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100%;
}

.articleTitle {
    color: white;
    text-shadow: 0 0 6px #000000;
    text-align: center;
    margin: 0;
    position: relative;
    top: 80%;
    z-index: 2;
}

.articleContent {
    width: 75%;
    text-wrap: pretty;
    color: white;
    margin: 1rem;
    margin-top: 2rem;
    padding-inline: 2rem;
}

.blackWrapper {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 30vh;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    opacity: 0.3;
    z-index: 1;
}

table {
    border-style: none;
    table-layout: auto;
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    display: block;
}

th,
td {
    border: 1px solid #fffcfc;
}

th,
td {
    padding-left: 1ch;
    padding-right: 1ch;
}


@media screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        display: default;
    }

    .header {
        margin: 0.5rem 1rem 0 1rem;
    }

    .headerButton {
        height: 2.3rem;
    }

    .articleTitle {
        top: 84%;
        font-size: 18px;
    }

    .articleContainer-bpage {
        width: 95vw;
    }

    .articleContent {
        margin-top: 30px;
        padding-inline: 10px;
    }

    .art {
        width: 305px;
        height: 205px;
    }

    .logoContainer {
        height: 350px;
    }

    .school-container {
        display: none;
    }

    .c1 {
        width: 88vw;
    }

    .c2 {
        width: 88vw;
    }

    .footer-card {
        width: 47vw;
        height: 7rem;
    }

    .contact .text {
        margin: 0.5rem;
        font-size: 0.67rem;
    }

    .socials-circle img {
        height: 25px;
        width: 25px;
    }

    .socials-circle {
        margin: 3px;
        height: 50px;
        width: 50px;
       scale: 0.86;
    }

    .x img {
        height: 25px;
        width: 25px;
    }

    .logo {
        height: 80%;

    }

    .textContainer p {
        margin-top: -10vh;
        font-size: 1rem;
    }

    .footer {
        justify-content: space-between;
    }
}
.dropbtn {
    background-color: #4c576b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Jetbrains Mono';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 2rem;
    border: none;
    background-color: #4c576b;
    height: 2.8rem;
    width: 7rem;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: black;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    animation-iteration-count: 1;
    animation-name:slideout;
    animation-duration:1800ms;
    border-radius: 2rem;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white    ;
    border-bottom: white solid 1px;
    padding: 22px 26px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:last-of-type {
    border-bottom: none;

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #212837;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    animation-duration: 800ms;
    animation-name: slidein;
    visibility: visible;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #4c576b;}
  .hi
  {
    color: white   ;
    font-size: 16px;
    margin-top: 10px;
    display: grid;
    margin-left: 8vw;
    margin-right: 150px;
    word-wrap: break-word   ;
    min-width: 15%;
    width:75%;
    border-radius: 0.6rem;
    font-family: 'Jetbrains Mono';
    padding: 0px 0px 0px 60px;
    font-weight: 100;

}
  .italic
  {
    font-size: 48px;
    font-weight: bolder;
  }
  .sub-italic
  {
    font-size: 24px;
  }
  @keyframes animation1
  {
   0%{
         border-color: #000000;
   }
   100%{
       border-color:#121213   ;
   } 
  }
  @keyframes animation2
  {
   0%{
         border-color: #121213;
   }
   100%{
       border-color:#000000   ;
   } 
  }
  @keyframes slidein
  {
    0%{transform: translate(0,-100vh);}
    100%{transform: translate(0vw,0vw);}
  }
  .backg
  {
    animation-name: animation1;
    animation-fill-mode: both;
    animation-duration: 2s;
  }
  .backg2
  {
    animation-name: animation2;
    animation-fill-mode: both;
    animation-duration: 2s;
  }
.blue
{
    color: wheat;
    display: flex;
    justify-content: center;        
    font-size: 2.5vw;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    font-family: "Exo", "serif";
    margin-top: 1vh;
    font-size: 3vw;
}
@media (max-width:1300px) {
    .blue
{
    font-size: 5vw;
}
}
@media (max-width:500px) {
    .blue
{
    font-size: 9vw;
}

.container
{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 15px;
}
.dropdown-content {
    transform: translate(-50%,0%);
  }
}
